<% if policy(commentable).create? %>
  <%= form_with model: [commentable, (@comment || commentable.comments.build)],
                class: 'pt-3 my-2' do |f| %>
    <%= render 'shared/errors', object: comment %>

    <div class="mb-3 row">
      <div class="col-sm-12">
        <%= f.text_area :body, class: 'form-control form-control-sm', placeholder: 'Leave your comment here' %>
      </div>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
  <% end %>
<% else %>
  <p class="mt-2">You must be logged in to post a comment.</p>
<% end %>

<h3><%= commentable.comments.count %> comments:</h3>

<%= render commentable.comments.decorate %>