<h1>User: <%= current_user.email %> </h1>


<% if @user.avatar_resized.attached? %>
  <%= image_tag @user.avatar_resized, class: 'user-avatar' %>
<% else %>
  <p>No avatar</p>
<% end %>

<%= form_with model: @user, local: true do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit "Upload Avatar" %>
<% end %>