<div class="card-body custom-card">
  <h1>
    <%= post.user.email %>
  </h1>

  <section class="card-text">
    <time datetime="<%= post.formatted_created_at %>">
      <small><%= post.formatted_created_at %></small>
    </time>

    <div class="my-2">
      <p>
        <%= post.body %>
      </p>
    </div>

    <div class="buttons-container">
      <% if policy(post).edit? %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
      <% end %>

      <% if policy(post).destroy? %>
        <%= button_to 'Delete', post_path(post), class: 'btn btn-danger',
                      method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </section>
</div>