<section class="mb-4">
  <h2>Search by tags: </h2>

  <%= form_with url: posts_path, method: :get do |f| %>
      <%= f.collection_select :tag_ids, (@tags || []), :id, :title, {selected: params[:tag_id]},
        multiple: true, required: true,
        class: 'js-multiple-select w-100 mb-2', placeholder: 'Start typing here to find tags',
                              data: {'tom_select_ajax_url_value': '/api/tags',
                                     'controller': 'tom-select'} %>

      <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</section>

<% if params[:tag_ids].present? %>
  <h3>Posts with tag:  <span class="badge rounded-pill bg-secondary d-inline-block px-2 pt-1 me-1 text-decoration-none">
      <%= @tag.title %>
    </span></h3>
<% else %>
  <h3>All posts:</h3>

  <% if current_user.present? %>
    <%= link_to 'New post', new_post_path, class: 'btn btn-primary btn-sm mb-3',
        data: { turbo_frame: dom_id(Post.new) }%>

    <div class="my-3">
      <%= turbo_frame_tag Post.new %>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag 'posts' do %>
  <%= render @posts %>
<% end %>

<div class="d-flex justify-content-center my-3">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>
