<!DOCTYPE html>
<html>
  <head>
    <title>OnlineToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <div class="container-main">
    <div class="row content">
      <div class="col-md-2">
      </div>

      <div class="col-md-8 center-column">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <a class="navbar-brand" href="#">OnlineToday</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'Home', posts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Friends', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Messages', root_path, class: 'nav-link' %>
              </li>

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Profile', user_profile_path(current_user.username), class: 'nav-link' %>
                </li>
              <% end %>
            </ul>

            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item d-flex align-items-center">
                  <span class="me-2">Здравствуйте, <%= current_user.email %></span>
                  <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
                </li>

                <li class="nav-item">
                  <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>


        <main class="container mt-3">
          <% flash.each do |k, v| %>
            <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
          <% end %>

          <%= yield %>
        </main>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>

  <footer>
    <p class="text-center">OnlineToday by soniillusions</p>
  </footer>
  </body>
</html>
