<!DOCTYPE html>
<html>
  <head>
    <title>OnlineToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <div class="container-main">
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-full-width">
        <div class="container-fluid">
          <a class="navbar-brand ms-3" href="<%= root_path %>">OnlineToday</a>
          <div class="collapse navbar-collapse me-3" id="navbarNav">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Home', posts_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Friends', root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Messages', root_path, class: 'nav-link' %>
                </li>
              <% end %>

              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Edit profile', edit_user_registration_path(@user), class: 'nav-link' %>
                </li>
              <% end %>
            </ul>

            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item d-flex align-items-center">
                  <%= link_to current_user.username, user_path(current_user.username), class: 'user-link' %>
                  <%= link_to 'Выйти', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %>
                </li>

                <li class="nav-item">
                  <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6">
        <main class="main-content mt-3">
          <div id="flash">
            <%= render 'shared/flash' %>
          </div>

          <%= yield %>
        </main>
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>

  <footer>
    <p class="text-center">OnlineToday by soniillusions</p>
  </footer>
  </body>
</html>
