<!DOCTYPE html>
<html>
  <head>
    <title>simple-blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <div class="container-main">
    <div class="row">
      <%= render 'shared/menu' %>
    </div>

    <div class="row">
      <div class="col-md-3">
      </div>

      <div class="col-md-6">
        <main class="main-content mt-3">
          <div id="flash">
            <%= render 'shared/flash' %>
          </div>

          <%= yield %>
          <%= yield :scripts %>
        </main>
      </div>

      <div class="col-md-3">
      </div>
    </div>
  </div>

  <footer>
    <p class="text-center">simple-blog by soniillusions</p>
  </footer>
  </body>
</html>
